<manifest
	package="com.example.zs"
	xmlns:android="http://schemas.android.com/apk/res/android"
>
	<uses-sdk
		android:minSdkVersion="21"
		android:targetSdkVersion="36"
	/>
	<application>
		<activity
			android:name=".MainActivity"
			android:theme="@android:style/Theme.NoTitleBar"
			android:exported="true"
		>
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
	</application>
</manifest>
